@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueLight.ttf");
}

body {

}

section {
    margin-top: 64px;
}

h1, h2, h3, h4, h5, p, a {
    font-family: "HelveticaNeueLight" !important;
}

nav.navbar-custom {
    background-color: #FFF;
    font-family: "HelveticaNeue";
    box-shadow: 0px 2px 5px #555555;
}

nav.navbar-custom a {
    text-transform: uppercase;
    text-shadow: 0px !important;
    font-weight: normal;
}

.my-thumbnail {
    border: None;
}

.my-thumbnail h5 {
    font-size: 10pt;
    text-align: center;
}

.server-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
}

.server-list li a {
    color: #333 !important;
    font-weight: bold;
}
