@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueLight.ttf");
}

body {
    /*background-color: #56ABAB;*/
}

table {
   /* background-color: #FFF; */
}

h1, h2, h3, h4, h5, p, a, label, li, select, input, textarea, option {
    /* color: #333; */
    font-family: "LatoWeb", "HelveticaNeueLight" !important;
}


section {
    background-color: #FFFFFF;
    margin-top: 74px;
}

.errorlist {
    list-style-type: None;
}

.errorlist li {
    font-size: 9pt;
    color:#D00;
}

.fsize10 {
    color: #333;
    font-size: 10pt;
}

.my-thumbnail {
    height: 350px;
    padding: 5px 5px;
    overflow: hidden;
}

.gold {
    color: #CC0;
}