{% extends "base-template.html" %}
{% load thumbnail %}

{% block styles %}
<link href="/media/plugins/data-tables/css/datatables.css" rel="stylesheet">
<link href="/media/plugins/data-tables/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="/media/plugins/data-tables/js/jquery.dataTables.js"></script>
<script src="/media/plugins/data-tables/js/dataTables.bootstrap.min.js"></script>
<script src="/media/scripts/custom-config.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#table').DataTable({
            "oLanguage": dtLangTranslate,
            "oAria": dtLangTranslateoAria,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 1
                },
            ]
        });
    });

    function redireccionar(id_) {
        window.location.assign("/series/mostrar/" + id_ + "/");
    }

</script>
{% endblock %}

{% block content %}
<br>
<h1>Buscar Serie</h1>

<table class="table" id="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th></th>
            <th>Nombre</th>
            <th>Calificacion</th>
        </tr>
    </thead>
    <tbody>
    {% for serie in series %}
    <tr style="cursor: pointer" onclick="redireccionar('{{ serie.id }}');">
        <td>
            {{ serie.code }}
        </td>
        <td>

        </td>
        <!--
        <td>
            <img src="/{% thumbnail serie.image 64x64 crop %}">
        </td>
        -->
        <td>
            {{ serie.name }}
        </td>
        <td>
            {{ serie.rank_to_stars|safe }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}