{% extends "base-template.html" %}
{% load thumbnail %}

{% block content %}

<h1>Series de Anime</h1>

<div class="row">
    <div class="col-md-6">
        <h3>Series actualmente en emisión</h3>
    </div>
    <div class="col-md-6 text-right">
        <a href="/series/agregar/" class="btn btn-raised btn-primary">Agregar Serie</a>
    </div>
</div>

<div class="row">
    {% for serie in series %}
        <a href="/series/mostrar/{{ serie.id }}/">
        <div class="col-md-3 col-lg-2 my-thumbnail text-center">
            <div class="img-thumbnail">
                <img src="/{% thumbnail serie.image 166x250 crop %}" class="img-responsive">
            </div>
            <br>
            <label class="fsize10">{{ serie.code }} - {{ serie.name }}</label>
        </div>
        </a>
    {% endfor %}

</div>

{% endblock %}