{% extends "base-template.html" %}
{% load thumbnail %}

{% block content %}

<h1>Series de Anime</h1>

<div class="text-right">
    <a href="/series/agregar/" class="btn btn-raised btn-primary">Agregar Serie</a>
    <a href="/series/agregar-simple/" class="btn btn-raised btn-primary">Agregar Serie Simple</a>
</div>

<div class="row-container">
    {% for serie in series %}
        <a class="flex-item" href="/series/mostrar/{{ serie.id }}/">
        <div class="my-thumbnail text-center">
            <div class="img-thumbnail">
                <img src="/{% thumbnail serie.image 166x250 crop %}" class="img-responsive">
            </div> 
            {% if serie.complete %}   
                <div class="green-color"></div>
            {% else %}
                <div class="red-color"></div>
            {% endif %}

            <label>{{ serie.rank_to_stars|safe }}</label>
            <br>
            <label class="fsize10">{{ serie.code }} - {{ serie.name }}</label> <br>

        </div>
        </a>
    {% endfor %}
</div>


<nav>
    <ul class="pagination justify-content-center">
        {% if paginator.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.path }}{{ paginator.prev }}"> Anterior </a>
        </li>
        {% endif %}

        {% for page in paginator.pages %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.path }}{{ page }}">{{ page }}</a> 
            </li>
        {% endfor %}
        
        {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.path }}{{ paginator.next }}"> Siguiente </a>
            </li>
        {% endif %}
    </ul>
</nav>


{% endblock %}