{% extends "base-template.html" %}


{% block content %}
    <div class="row">
            <div class="col-md-4">
                <img src="/{{ serie.image }}" class="img-responsive" style="margin: 10pt auto;">
            </div>
            <div class="col-md-8">
                <br>
                <h3>{{ serie.code }} - {{ serie.name }}</h3>

                <div>
                    <p><strong>Genero:</strong> {{ serie.gender }}</p>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Estado:</strong> {{ serie.get_status_display }}</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Calificacion:</strong> {{ serie.rank_to_stars|safe }}</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Capitulos:</strong> {{ serie.chapters }}</p>
                    </div>
                </div>

                <div>
                    <p><strong>Descripcion:</strong> </p>
                    <p>{{ serie.descripcion }}</p>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-3">
                         <h5><strong>Servidores:</strong></h5>
                    </div>
                    <div class="col-md-9 text-right">
                        <a href="/series/agregar-servidor/{{ serie.id }}/" class="btn btn-primary btn-raised">Agregar Servidor</a>
                        <a href="#" class="btn btn-primary btn-raised">Modificar Datos</a>
                    </div>
                </div>



                {% for server in serie.servers %}
                    <a href="{{ server.url }}" target="blank_" class="btn btn-success btn-raised"><span class="fa fa-globe"></span> {{ server }} </a>
                {% endfor %}
            </div>
            <div class="col-md-12">
                <br><br> <br>
            </div>
        </div>
    </div>
{% endblock %}