{% extends "base-template.html" %}


{% block content %}
    <div class="row">
            <div class="col-md-4">
                <img src="/{{ serie.image }}" class="img-responsive" style="margin: 10pt auto;">
            </div>
            <div class="col-md-8">
                <br>
                <h3>{{ serie.code }} - {{ serie.name }}</h3>

                <div>
                    <p><strong>Genero:</strong> {{ serie.gender }}</p>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Estado:</strong> {{ serie.get_status_display }}</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Calificacion:</strong> {{ serie.rank_to_stars|safe }}</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Capitulos:</strong> {{ serie.chapters }}</p>
                    </div>
                </div>

                <div>
                    <p><strong>Descripcion:</strong> </p>
                    <p>{{ serie.descripcion }}</p>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="/series/agregar-servidor/{{ serie.id }}/" class="btn btn-primary btn-raised">Agregar Servidor</a>
                        <a href="/series/modificar/{{ serie.id }}/" class="btn btn-primary btn-raised">Modificar Datos</a>
                        <a href="/series/eliminar/{{ serie.id }}/" class="btn btn-primary btn-raised">Quitar</a>
                    </div>

                    <div class="col-md-12">
                         <h5><strong>Servidores:</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% if not serie.not_servers %}
                            <ul>
                            {% for server in serie.servers %}
                                <li><a href="{{ server.url }}" target="blank_" class="btn btn-success btn-raised"><span class="fa fa-globe"></span> {{ server }} </a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>No hay servidores disponibles.</p>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <br><br><br>
            </div>
        </div>
    </div>
{% endblock %}