{% extends "base-template.html" %}
{% load thumbnail %}

{% block content %}

<h1>Series de Anime</h1>

<div class="text-right">
    <a href="/series/agregar/" class="btn btn-raised btn-primary">Agregar Serie</a>
    <a href="/series/agregar-simple/" class="btn btn-raised btn-primary">Agregar Serie Simple</a>
</div>

<div class="row">
    {% for serie in series %}
        <a href="/series/mostrar/{{ serie.id }}/">
        <div class="col-md-3 col-lg-2 my-thumbnail text-center">
            <div class="img-thumbnail">
                <img src="/{% thumbnail serie.image 166x250 crop %}" class="img-responsive">
            </div> 
            {% if serie.complete %}   
                <div class="green-color"></div>
            {% else %}
                <div class="red-color"></div>
            {% endif %}

            <label>{{ serie.rank_to_stars|safe }}</label>
            <br>
            <label class="fsize10">{{ serie.code }} - {{ serie.name }}</label> <br>

        </div>
        </a>
    {% endfor %}

</div>

{% endblock %}